<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1</string>
	<key>data</key>
	<array>
		<dict>
			<key>class</key>
			<string>classname</string>
			<key>videofilter</key>
			<false/>
			<key>properties</key>
			<dict>
				<key>key1</key>
				<string>value1</string>
				<key>key2</key>
				<string>value2</string>
				<key>key3</key>
				<string>value3</string>
				<key>key4</key>
				<string>value4</string>
			</dict>
			<key>thumbnail</key>
			<string>http://</string>
		</dict>
	</array>
</dict>
</plist>
